<html>
<head>
    <title>
        {% block title %}Book store{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body class="bg-light d-flex flex-column min-vh-100">

<nav id="nav-menu">
    <div class="d-flex justify-content-between">
        {% if request.path == '/' or request.path == '/catalog' %}
        <form action="{{ url_for('main.show_catalog') }}" method="POST" class="d-flex input-group m-0 p-3 gap-2" style="width: 500px">
            {{ form.hidden_tag() }}
            {{ form.query(class='form-control', placeholder='search')}}
            {{ form.submit(class='btn-light input-group-text')}}
        </form>
        {% endif %}

        <div class="d-flex justify-content-end align-items-center p-3 w-100 gap-1">
            {% set paths = ['/', '/login', '/register', '/login/verify', '/register/verify'] %}
            {% if request.path not in paths %}
            <a href="{{ url_for('main.main_route') }}" class="btn btn-dark text-center">Back to main page</a>
            {% endif %}

            {% if request.path != '/login' and request.path != '/register' %}

            {% if current_user.is_authenticated %}
            <div>
               <a href="{{ url_for('main.show_orders')}}" class="btn btn-light">Orders</a>
            </div>

            <div class="d-flex flex-row justify-content-center card" style="max-width: 100px;">
                <a href="{{ url_for('main.show_basket')}}" class="btn btn-light">
                    <img src="{{ url_for('static', filename='images/basket.png')}}" alt="" width="30">
                </a>
                <input type="text" value="{{ count }}" class="form-control-plaintext text-center" disabled>
            </div>
            <a href="{{ url_for('main.logout') }}" onclick="return confirm('Are you sure you want to logout?');" class="btn btn-danger">Logout</a>

            {% else %}

            <a href="{{ url_for('main.login') }}" class="btn btn-success">Login</a>
            <a href="{{ url_for('main.register') }}" class="btn btn-light">Register</a>

            {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
<main class="container flex-grow-1">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
<footer class="mt-auto">
    <div class="card d-flex flex-row justify-content-center gap-5">
        <div class="">
            <span><span class="fw-bold">Contact us: </span>book-shop@info.com</span>
        </div>
        <div>|</div>
        <div class="d-flex flex-row gap-1">
            <span class="fw-bold">Payment methods: </span>
            {% for payment_method in logos_list('payments') %}
            <img class="" src="{{ url_for('static', filename='images/payments/'  ~ payment_method)}}" alt="payment method"
                 style="max-width: 25px;">
            {% endfor %}
        </div>
        <div>|</div>
        <div class="d-flex flex-row gap-1">
            <span class="fw-bold">Delivery methods: </span>
            {% for delivery_method in logos_list('delivery') %}
            <img class="" src="{{ url_for('static', filename='images/delivery/'  ~ delivery_method)}}" alt="delivery method"
                 style="max-width: 25px;">
            {% endfor %}
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
