{% extends "base.html" %}

{% block title %}Book store{% endblock %}

{% block content %}
<div class="d-flex flex-column">
    <div>
        <h2 class="text-center">Welcome{% if current_user.is_authenticated %}, {{ current_user.username }}{% else %} to
            our bookstore{% endif %}!</h2>
    </div>
    <div class="d-flex flex-row gap-4">
        <div class="card card-body" style="border: None; background: transparent;">
            <h2 class="text-center">TOP 3</h2>

            {% for book in books %}
            <a class="text-decoration-none" href="{{ url_for('main.show_book', book_id=book.id) }}">
                <div class="align-items-center card mb-3 p-3">
                    <!--        <img src="{{ book.cover_url }}" alt="{{ book.title }}" width="150">-->
                    {% if book.id > 0 and book.id < 65 %}
                    <img src="{{ url_for('static', filename='images/1.png')}}" alt="" width="150">
                    {% elif book.id >= 34 and book.id < 78 %}
                    <img src="{{ url_for('static', filename='images/2.png')}}" alt="" width="150">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/3.png')}}" alt="" width="150">
                    {% endif%}
                    <h5>{{ book.title }}</h5>
                    <p>{{ book.author }}</p>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="card card-body text-center" style="height: fit-content;">
            <h3 class="card-title">Genres</h3>
            <ul class="list-group list-group-flush">
                {% for book in genres %}

                <li class="list-group-item"><a href="{{ url_for('main.show_catalog', genre=book.genre) }}"
                                               class="text-decoration-none">{{ book.genre
                    }}</a></li>

                {% endfor %}
                <li class="list-group-item"><a href="{{ url_for('main.show_catalog') }}" class="text-decoration-none">Show
                    all</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

