{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h3 class="text-center">Order <strong>{{ order_number }}</strong></h3>
<div class="d-flex flex-row gap-1">
    <div class="card">
        {% for book in order_books %}
        <div class="card d-flex align-items-center">
            <p>{{ book.title }}</p>
            <p>{{ book.author }}</p>
            <p><strong>Quantity:</strong> {{ book.quantity }}</p>
            <p><strong>Price:</strong> {{ book.price }}</p>
            <p>{{ book.total_book }}</p>
        </div>
        {% endfor %}
        <div class="text-center">
            <h4><strong>Total price:</strong> {{ total_price }}</h4>
        </div>
    </div>
    <div class="card">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-describedby="first-name" required>
            <span class="input-group-text" id="first-name">First name</span>
        </div>
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-describedby="surname" required>
            <span class="input-group-text" id="surname">Surname name</span>
        </div>
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-describedby="address" required>
            <span class="input-group-text" id="address">Address</span>
        </div>
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control">
            <button class="input-group-text dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Payment method
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Apple pay</a></li>
                <li><a class="dropdown-item" href="#">Google pay</a></li>
                <li><a class="dropdown-item" href="#">Visa</a></li>
                <li><a class="dropdown-item" href="#">Mastercard</a></li>
                <li><a class="dropdown-item" href="#">Maestro</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}